.alert {
	color:red;
	text-align:center;
	background-color:MediumSeaGreen;
	font-family:Sofia;
	border-radius:20px;
	margin-left:200px;
	margin-right:200px;
	text-shadow: 4px 4px 16px red;
	font-family:Sofia;
} 

.smile{
	text-align: center;
	font-size: 60px;
}

.center{
	text-align:center;
	font-size: 25px;
	border-radius:20px;
	color:red;
}


.fieldset{
	background-color:yellow;
	color:red;
	width:1000;
	border-radius:20px;
	font-family:Sofia;
}

.body{
 	background-image: url("IMG_3306.JPG");	
	background-size: 100% 100%;	
}

.button {
	border-radius:20px;
	font-family:Sofia;
}	

.round {
	border-radius:5px;
}	

.big {
	font-size: 20px;
	text-align:center;
	color:white;
	background-color:blue;
}
p.center {
	text-align:center;
	font-size: 25px;
	color:red;
	text-decoration:underline;
}
.yellow {
	background-color: yellow;
	color:red;
	width:1000;
	font-family:Sofia;
}
.blue{
	color:blue;
	font-size: 30px;
	text-align:center;
	border: 2px solid Violet;
}