
.div1 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

.div2 {
	height: 280px;
	background-color: yellow;
	border-radius: 34px;
}

.div3 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

.div4 {
	height: 280px;
	background-color: yellow;
	border-radius: 34px;
}

.div5 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

.div6 {
	height: 280px;
	background-color: yellow;
	border-radius: 34px;
}

.div7 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

.div8 {
	height: 280px;
	background-color: yellow;
	border-radius: 34px;
}

.div9 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

.div10 {
	height: 280px;
	background-color: yellow;
	border-radius: 34px;
}

.div11 {
	height: 280px;
	background-color: blue;
	border-radius: 34px;
}

/*1*/
.vid1 {
	margin-left:20px;
	margin-top: 20px;
	width: 400px;
	height: 230px;
	max-width: 100%;
}

/*2*/
.vid2 {
	margin-top: 20px;
	width: 400px;
	height: 230px;
	max-width: 100%;
}

/*3*/
.vid3 {
	margin-top: 10px;
	width: 300px;
	height: 250px;
	max-width: 100%;
}

/*4*/
.vid4 {
	margin-top: 20px;
	max-width: 100%;
}

/*5*/
.vid5 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
	max-width: 100%;
}

/*6*/
.vid6 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
	max-width: 100%;
}

/*7*/
.vid7 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
	max-width: 100%;
}

/*8*/
.vid8 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
	max-width: 100%;
}

/*9*/
.vid9 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
	max-width: 100%;
}

/*10*/
.vid10 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*11*/
.vid11 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*12*/
.vid12 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*13*/
.vid13 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*14*/
.vid14 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*15*/
.vid15 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*16*/
.vid16 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*17*/
.vid17 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*18*/
.vid18 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*19*/
.vid19 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*20*/
.vid20 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*21*/
.vid21 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*22*/
.vid22 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*23*/
.vid23 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*24*/
.vid24 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*25*/
.vid25 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*26*/
.vid26 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*27*/
.vid27 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*28*/
.vid28 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*29*/
.vid29 {
	margin-left:20px;
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*30*/
.vid30 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*31*/
.vid31 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*32*/
.vid32 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*33*/
.vid33 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}

/*34*/
.vid34 {
	margin-top: 10px;
	width: 430px;
	height: 250px;
}