
.body{
	background-color: lightgrey;
}

.warning {
	text-align: center;
	color: red;
	font-size: 30px;
	text-decoration:underline;
	margin-bottom: 40px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

.game {
	margin-left: 40%;
	color: red;
	font-size: 50px;
	border: 15px solid green;
	padding: 10px;
	border-radius: 25px;
}

.stuff {
	margin-left: 67%;
	color: green;
	font-size: 50px;
	border: 15px solid red;
	padding: 10px;
	border-radius: 25px;
}

.bug {
	margin-left: 30%;
	color: green;
	font-size: 50px;
	text-decoration: underline;
}

.div {
	margin-right: 180px;
	margin-left: 180px;
}

.box {
	margin-top: 100px;
	margin-left: 250px;
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes example {
	0%   {background-color:red;}
	25%  {background-color:yellow;}
	50%  {background-color:blue;}
	75%  {background-color:green;}
	100% {background-color:red;}
}

.box1 {
	margin-left: 300px;
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.box2 {
	margin-top: -100px;
	margin-left: 350px;
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.box3 {
	margin-top: -100px;
	margin-left: 300px;
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.MoveButton {
	margin-top: -500px;
	width: 200px;
	height: 200px;	
}

.button {
	margin-top: 100px;
	margin-left: 50px;
}

@media screen and (max-width: 1024px) {
	.MoveButton {
	display: none;
	}
	
	.warning {
	font-size: 20px;
	}
	
	.game {
	font-size: 30px;
	margin-left: 50px;
	}
	
	.stuff {
	font-size: 30px;
	}

	.bug {
	font-size: 30px;
	}
}