
.warning {
	text-align: center;
	color: red;
	font-size: 30px;
	text-decoration:underline;
	margin-bottom: 40px;
}

h1 {
	text-align: center;
}

.a {
	margin-left: 40%;
	color: red;
	font-size: 50px;
	border: 15px solid green;
	padding: 10px;
}

.b {
	margin-left: 67%;
	color: green;
	font-size: 50px;
	border: 15px solid red;
	padding: 10px;
}
