.page {
	/*background-image: url("brforist1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;*/
	overflow: auto;
}
.wrapper {
	width: 1400px;
	height: 700px;
	overflow: auto;
}

.upper_wrapper {
	width: 1400px;
	height: 35px;
	overflow: auto;	
}

.tank { 
	width:500px;
	height:230px;
	margin-left: -550px;
	margin-top: 350px;
	transform: scaleX(-1);
	position:fixed;
}

.jeep {
	width:140px;
	height:120px;
	margin-left: -3050px;
	margin-top: 250px;
	transform: scaleX(-1);
	position:fixed;
}
.bullet {
	width:60px;
	height:55px;
	display:none;
	margin-top: 400px;
	margin-left: 545px;
	transform: rotate(20deg);
	position:fixed;
}	

.boom {
	width:70px;
	height:70px;
	margin-top: 400px;
	margin-left: 505px;
	display:none;
	float:left;
	position:fixed;
}

.boom1 {
	width:30px;
	height:30px;
	margin-top: 407px;
	margin-left: 130px;
	display:none;
	position:fixed;
}

.boom2 {
	width:30px;
	height:30px;
	margin-top: 397px;
	margin-left: 999px;
	display:none;
	position:fixed;
}

.fire {
	color:red;
	position:fixed;
	margin-left:50px;
}

.soldier1 {
	margin-left: 1000px;
	width: 137px;
	height: 200px;
	margin-top: 390px;
	position:fixed;
	transform: scaleX(-1);
}

.soldier2 {
	margin-left: 10px;
	width: 137px;
	height: 200px;
	margin-top: 390px;
	position:fixed;
	transform: scaleX(-1);
}

.see { 
	display: block;
}

.button {
	color:red;
	position:fixed;
}