
.city {
	width: auto;
	height: 100%;
	position: fixed;
}

div {
	
}

.col-5 {
	width: 30%;
	float: right;
	height: 100%;
	background-color: lightblue;
}

h1 {
	position: fixed;
	margin-left: 30%;
	font-size: 500%;
	font-family: Chalkduster, fantasy;
	color: red;
	text-shadow: 2px 2px 5px black;
}

body {
	background-color: lightblue;
}

.button {
	margin-top: 30%;
	margin-left: 80%;
	position: fixed;
	font-size: 22px;
	background-color: green;
	color: white;
}

.front::after {
	content: " FRONT";
	color: white;
}